<div class="jumbotron">
  <h1 class="display-4">About Foodme</h1>
  <p class="lead">Temporibus voluptas omnis earum maiores.</p>
  <hr class="my-4">
  <p>Velit dolor nam fugit voluptatum. Explicabo rerum amet accusantium quaerat sequi dolorem qui et deserunt. Quas nisi
    aspernatur aut omnis. Eum ut amet occaecati unde vero et qui asperiores et.</p>
  {{#link-to "index" class="btn btn-primary btn-lg"}}Go Home{{/link-to}}
</div>